/*
 * Type.css
 */

/* Modular Scale 
http://modularscale.com/scale/?px1=16&px2=18&ra1=1.618&ra2=0
---------------------- 
16px @ 1:1.618 
18px @ 1:1.618 
----------------------*/

// TODO: 
// - Should I remove `hr`?
// - If this is focused on typography, should I include table styling?

/*
 * ## Some Tips:
 *
 * - Read http://alistapart.com/article/more-meaningful-typography to understand about modular scale
 * - Don’t use more than 2 fonts unless you know what you’re doing.
 * - Use at least 16px for a base font size.
 * - Don't use the darkest black (#000) available in your body text: http://ianstormtaylor.com/design-tip-never-use-black/
 */

// Default settings
$unit: 'rem' !default; // You can change it to 'em'

$base: 1#{$unit} !default;
$base-font-size: 16px !default;
$base-margin-top: $base !default;
$base-margin-bottom: $base !default;
$base-line-height: 1.5 !default;
$base-headings-color: $headings-color !default;
$base-headings-line-height: 1.125 !default;
$base-text-color: #444 !default;

$code-text-color: tomato;

$indented-paragraphs: false !default;

/*
 * Base 
 *
 * 1. Vertical space between lines of text, for body text 150% is a good starting point.
 *    Use a longer line height with a wider measure and vice versa.
 */

html {
	font-size: $base-font-size;
	line-height: $base-line-height; /* 1 */
}

/*
 * Headings
 *
 * 1. On headings use a smaller line-height than body text.
 */

h1, h2, h3, h4, h5, h6 {
	margin-top: $base-margin-top;
	margin-bottom: 0.382#{$unit};
	color: $base-headings-color;
	line-height: $base-headings-line-height; /* 1 */
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 2.618#{$unit};
}

h2 {
	font-size: 1.82#{$unit};
}

h3 {
	font-size: 1.618#{$unit};
}

h4, h5, h6 {
	font-size: 1.125#{$unit};
}

/*
 * Paragraph 
 */

p {
	margin-top: $base-margin-top;

	@if $indented-paragraphs {
		margin-bottom: 0;

		& + p {
			text-indent: 2em;
			margin-top: 0;
		}
	} @else {
		margin-bottom: $base-margin-bottom;
	}
}

/*
 * Lists
 *
 * Most `ul` inside a `nav` element doesn't need the list styling
 */

nav ul,
nav ol {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
 }

ul, ol, dl {
	margin-top: 0;
	margin-bottom: $base-margin-bottom;
	line-height: $base-line-height;
}

li > ul,
li > ol {
	 margin-bottom: 0;
}

/*
 * Better styled `<hr>`
 */

hr {
	position: relative;
	margin: 1.5#{$unit} 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

/*
 * Quotes 
*/

blockquote {
	padding-right: 5#{$unit};
	padding-left: 1.25#{$unit};
	margin: 1#{$unit} 0;
	border-left: .25#{$unit} solid lighten($base-text-color, 65%);
}

blockquote p:last-child {
	margin-bottom: 0;
}
