/* Buttons */
%button-static {
	display: inline-block;
	padding: 0.418em 1em;
	border: 0;
	border-radius: $btn-roundness;
	color: #fff;
	text-decoration: none;
	font-family: inherit;
	font-weight: 400;
	line-height: 1;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

button,
a.btn-default,
.btn-default {
	@extend %button-static;

	color: #fff;

	@include button($btn-default-bg, $btn-primary-text-color);
}


.btn-ghost {
	@extend .btn-default;
	@include button(transparent, #fff);
	border: 3px solid #fff;
	opacity: 0.8;

	&:hover {
		opacity: 1;
	}
}

.btn-small {
	@extend .btn-default;
	font-size: $btn-small-font-size;
}

.btn-large {
	@extend .btn-default;
	font-size: $btn-large-font-size;
}
