/* Editor */
%editor-border-style {
	border-radius: 4px !important;
	border: 8px solid #ccc;
	// border-top: 20px solid $editor-top-bar-color;
}

// Dark
.linenos-dark {
	color: #8f908a;
	background-color: #2F3129;
}

.highlighttable-dark {
	& > tbody {
		background-color: #272822;
	}
}

// Light
.linenos-light {
	color: #aaa;
	background-color: #E8E8E8;
}

.highlighttable-light {
	color: #333;

	& > tbody {
		background-color: #fff;
	}
}

.code-raw-textarea-light {
	color: #333;
}

// Code result
.code-raw {
	width: 100%;
}

.code-raw-textarea {
	@extend .code-raw-textarea-light;
	padding: 0.618em;
	width: 100%;
	height: 20em;
	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
	background-color: #fff;
	border-radius: 4px;
	border: none;

	&:focus {
		outline: none;
	}
}

.code-result {
	width: 100%;
	height: auto;
	overflow: auto;
	@extend %editor-border-style;
	& > table {
		border-collapse: inherit !important;
	}
}

.highlighttable {
	@extend .highlighttable-light;
	border-radius: 4px;
}

.linenos {
	// padding: 0 2px 0 12px;
	min-width: 2em;
	text-align: center;
	@extend .linenos-light;
}

.code {
	padding-left: 5px;
}

// Home editor
#editor {
	@extend %editor-border-style;
}
