/*
 * Buttons 
 */

.button-static {
	display: inline-block;
	padding: 0.618em 1.5em;
	border: 0;
	border-radius: $btn-roundness;
	text-decoration: none;
	font-family: inherit;
	line-height: 1;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

button,
.btn-default,
a.btn-default {
	@extend .button-static;
	@include button($btn-default-bg, $btn-default-text-color);
}


.btn-primary {
	@extend .btn-default;
	@include button($btn-primary-bg, $btn-primary-text-color);
}

.btn-small {
	@extend .btn-default;
	font-size: $btn-small-font-size;
}

.btn-large {
	@extend .btn-default;
	font-size: $btn-large-font-size;
	font-weight: bold;
}
