/*
 * Editor 
 */

%editor-border-style {
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	border-top: 20px solid $editor-top-bar-color;
}

// Code result
.code-raw-textarea {
	padding: 0.618em;
	height: auto;
	background-color: #eaeaea;
	border: none;

	&:focus {
		outline: none;
	}
}

.code-result {
	& > table {
		border-collapse: inherit !important;
	}
}

.highlighttable {
	@extend %editor-border-style;
	border-radius: 4px;

	& > tbody {
		background-color: #272822;
	}
}

.linenodiv {
	color: #8f908a;
	text-align: center;
	background-color: #2F3129;
}

.code {
	padding-left: 3px;
}

// Home editor
#editor {
	@extend %editor-border-style;
}
