/* Code Results */
.code-result,
.code-raw-textarea {
  // width: 45em;
}

.code-result {
	width: 120%;
	margin-left: -10%;
}

.code-raw-textarea {
  height: 24em;
}

.code-raw-textarea {
  resize: none;
}
