/* Pastes list */
.pastes-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.paste-list-el {
	.paste-link {
		margin-right: 0.618em;
		font-family: 'Source Code Pro', monospace;
	}
}

/* Pygments layout */
.highlighttable {
  width: 100%;
}
