Flask==0.10.1
Flask-Login==0.2.11
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.1
WTForms==2.0.1
Werkzeug==0.9.6
enum34==1.0.4
hashids==1.0.1
humanize==0.5.1
itsdangerous==0.24
passlib==1.6.2
pathlib==1.0.1
pymongo==2.7.2
six==1.8.0
webassets==0.10.1
wsgiref==0.1.2
