html {
	box-sizing: border-box;
	background-color: #eee;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: $base-font-family;
  background-color: $body-background-color;
	color: $text-color;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

pre,
code,
.ace_editor {
  font-family: 'Source Code Pro', 'source-code-pro', monospace !important;
  font-size: 13px !important;
	-webkit-font-smoothing: auto;
  /* line-height: 1; */
}

h1, h2, h3, h4, h5 {
	font-family: $headings-font-family;
	color: $headings-color;
}

/* Text that is inside the `.app` class, because the green background */
.app {
	color: $app-text-color;

	h1, h2, h3, h4 {
		color: $app-headings-color;
	}
}
