// Responsive

@mixin respond-to($size) {
	@media only screen and (max-width: $size) { @content; }
}

@mixin button($background-color, $text-color) {
	background-color: $background-color;
	color: $text-color;

	&:hover {
		background-color: darken($background-color, 7%);
		color: $text-color;
	}
		
	&:active {
		background-color: darken($background-color, 3%);
	}
}

@mixin button-gradient($top-color, $bottom-color, $text-color) {
	background: $top-color; /* Old browsers */
	background: -moz-linear-gradient(-45deg, $top-color 0%, $bottom-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$top-color), color-stop(100%,$bottom-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, $top-color 0%,$bottom-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, $top-color 0%,$bottom-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, $top-color 0%,$bottom-color 100%); /* IE10+ */
	background: linear-gradient(135deg, $top-color 0%,$bottom-color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top-color', endColorstr='$bottom-color',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: $text-color;

	&:hover {
		background: $top-color;
		color: $text-color;
	}
		
	&:active {
		background: lighten($bottom-color, 5%);
	}
}
