/*
 * Base 
 */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: lighten(#eee, 10%);
}

pre,
code,
.ace_editor {
  // font-family: 'Inconsolata', monospace !important;
  // font-family: 'Droid Sans Mono', monospace !important;
  font-family: 'Source Code Pro', 'source-code-pro', monospace !important;
  // font-family: 'Consolas', monospace !important;
  // font-family: 'Cousine', monospace !important;
  // font-family: 'Inconsolata', monospace !important;
  // font-family: 'Anonymous Pro', monospace !important;
  // font-family: 'Ubuntu Mono', monospace !important;
  // font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 13px !important;
  /* line-height: 1; */
}

h1, h2, h3, h4, h5 {
	letter-spacing: 1px;
}
