<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block head %}
    <title>{% block title %}{% endblock %} - Rocketbin</title>
  {% endblock %}

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale-1">
		<meta name="google-site-verification" content="P00qjUD0mle_f4y6gOveBx5KjkHYmPitsWOk5pt5WSs">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Droid+Sans+Mono|Source+Code+Pro:400,500,600,700|Cousine:400,700,400italic,700italic|Inconsolata:400,700|Anonymous+Pro:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
		<a href="https://github.com/thinkxl/rocketbin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

		<header class="masthead section">
			<div class="container">
				<div class="row">
					{# <a href="{{ url_for('home.index') }}"><img src="{{ url_for('static', filename="img/rocket.png") }}" class="site-logo" role="logo"></a> #}
					<h1 class="site-title hidden">Rocketbin</h1>
				</div> <!-- .row -->

				<div class="row">
					<nav class="main-nav">
						<ul class="main-nav-list">
							<li class="main-nav-el"><a class="btn-default" href="{{ url_for('home.index') }}"><i class="fa fa-plus"> Create New</i></a></li>
							<li class="main-nav-el"><a class="btn-default" href="{{ url_for('paste.show_all') }}"><i class="fa fa-list"></i> Latest Pastes</a></li>
						</ul>
					</nav>
				</div> <!-- .row -->
			</div> <!-- .container -->
		</header>

		<div class="app section">
			<div class="container">
				<div class="row">
					{% block content %}{% endblock %}
				</div>  <!-- .row -->
			</div> <!-- .container -->
		</div> <!-- .app -->

		<div class="tilt-container">
		</div> <!-- .tilt-container -->

		<footer class="site-footer section">
			<div class="container">
				<div class="footer-logo-container">
					<a href="{{ url_for('home.index') }}"><img src="{{ url_for('static', filename="img/rocket.png") }}" class="footer-logo" role="logo"></a>
				</div> <!-- .footer-logo -->

				<div class="row">
					<p>Project by <a href="http://twitter.com/thinkxl">@thinkxl</a> &bullet; <a href="/about">About</a></p>
				</div> <!-- .row -->
			</div> <!-- .container -->
		</footer> <!-- .site-footer -->

	{% block scripts %}{% endblock %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58002267-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
