{% extends "layout/base.html" %}
{% block title %} id {% endblock %}
{% block head %}
    {# <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet"> #}
    {# <link href="{{ url_for('static', filename='css/monokai.css') }}" rel="stylesheet"> #}
		<link href="{{ url_for('static', filename=theme_file) }}" rel="stylesheet">
{% endblock %}
{% block content %}
  <h3>{{ lang }}</h3>
	<strong><code>id: {{ id }}</code></strong>
  <div class="code-result">
    {{ code|safe }}
  </div> <!-- .code-result -->

  <hr>

  <h4>Raw Data</h4>
  <div class="code-raw">
    <textarea class="code-raw-textarea">
      {{ code_raw }}
    </textarea>
  </div> <!-- .code-raw -->
{% endblock %}

{% block scripts %}
<script data-isso="http://eldebacle.info/" src="http://eldebacle.info:1234/js/embed.min.js"></script>
<section id="isso-thread"></section>
{% endblock %}
