/* Header */
%go-inline {
	display: inline-block;
}

.site-title {
	@extend %go-inline;
}

.page-title {
	margin: 1.618em auto;
	text-align: center;
}

.site-logo {
	@extend %go-inline;
	width: 2em;
	display: inline-block;
}

.masthead {
  display: table;
  width: 100%;
	border-top: 4px solid $color-red;
	background-color: #fff;
}

.heading {
	color: darken($color-green, 30%);
}

/* Navigation */
.main-nav {
  margin-bottom: 0;
  display: table;
  width: 100%;
}

.main-nav-el {
  float: left;
  margin-right: 0.618em;
}
