/* Main layout */
.container {
  margin: 0 auto;
  width: 45em;
}

.section {
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;

	&:last-child {
		margin-top: 0;
	}
}

/* App */
.app {
	padding-bottom: 4em;
	background-color: $color-green;
	color: #fff;

	hr {
		border-color: lighten($color-green, 5%);
	}

	// a {
	// 	color: darken($color-green, 40%);
	// }
}

/* Editor */
#editor { 
	margin-bottom: 1em;
  width: 100%;
  height: 40em;
}

/* Options */
[class^="option-"] {
	display: inline-block;
	margin-right: 1em;

	input,
	select {
		color: #333;
	}

	&:last-child {
		margin-right: 0;
	}
}

/* Paste title */
.option-title {
	display: block;
	margin: 1em 0;

	input {
		width: 100%;
		padding: 0.618em;
		color: #333;
		outline: none;
		border: 6px solid $color-grey;
		border-radius: 4px;
	}
}


