/*
 * Layout 
 */

.container {
  margin: 0 auto;
  width: 45em;
}

.section {
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;

	&:last-child {
		margin-top: 0;
	}
}

/*
 * App 
 */

.app {
	padding-bottom: 4em;
	background-color: $color-green;
	color: #fff;

	hr {
		border-color: lighten($color-green, 5%);
	}

	a {
		color: darken($color-green, 40%);
	}
}

/*
 * Editor
 */

#editor { 
  margin: 1em 0;
  width: 100%;
  height: 40em;
}

/*
 * Options 
 */

.option {
	display: inline-block;
	margin-right: 1em;

	&:last-child {
		margin-right: 0;
	}
}

/*
 * Code Results
 */

.code-result,
.code-raw-textarea {
  width: 45em;
}

.code-raw-textarea {
  height: 24em;
}

.code-raw-textarea {
  resize: none;
}

/*
 * Pastes list 
 */

.pastes-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.paste-list-el {
	.paste-link {
		margin-right: 0.618em;
		font-family: 'Source Code Pro', monospace;
	}
}

/* pygments layout */
.highlighttable {
  width: 100%;
}

/*
 * Style Guide 
 */

// Presentation styles
.demo-col {
	margin-top: 0.618em;
	display: block;
	padding: 0.618em 0;
	border-radius: 3px;
	background-color: #ccc;
	text-align: center;
}

section {
	margin-bottom: 6em;
}
