/*
 * Header 
 */

%go-inline {
	display: inline-block;
}

.site-title {
	@extend %go-inline;
	color: $site-title-color;
}

.page-title {
	margin: 1.618em auto;
	text-align: center;
	color: $page-title-color;
}

.site-logo {
	@extend %go-inline;
	width: 4em;
	display: inline-block;
}

header {
	margin-top: 1em;
  margin-bottom: 0.618em;
  display: table;
  width: 100%;
}

/*
 * Navigation 
 */

.main-nav {
  margin-bottom: 0.618em;
  display: table;
  width: 100%;
}

.main-nav-el {
  float: left;
  margin-right: 0.618em;
}
