// Colors
$color-red: #e74c3c;
$color-green: #5FBCA8;
$color-grey: #CCCCCC;

// General
$site-width: 65rem;
$baseline: 1.618rem;
$body-background-color: #eee;

// Typography Variables.
$site-title-color: #1a237e;
$page-title-color: #283593;
$text-color: #333;
$link-color: darken($color-green, 40%);
$muted-text-color: lighten($text-color, 15%);

$headings-font-family: 'Source Sans Pro', sans-serif;
$base-font-family: 'Droid Sans', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.618;
$base-margin-bottom: $baseline;
$measure: 806px;

$headings-margin-bottom: $base-margin-bottom;
$headings-line-height: 1.125;
$headings-color: #333;

$code-font-family: 'DejaVu Sans Mono', Inconsolata, Consolas, 'Lucida Console', monospace;
$code-text-color: brown;

// Inside app
$app-text-color: #fff;
$app-headings-color: $link-color;

// Button Variables.
$btn-roundness: 0.236rem;

$btn-small-font-size: 0.818rem;
$btn-large-font-size: 1.318rem;

$btn-default-bg: #3498db;
$btn-default-top-color: #ff512f;
$btn-default-bottom-color: #f09819;
$btn-default-text-color: #fff;

$btn-primary-top-color: #aa076b;
$btn-primary-bottom-color: #61045f;
$btn-primary-bg: #2ecc71;
$btn-primary-text-color: lighten($btn-primary-bg, 70%);

// Form Variables.
$field-border-color: #ccc;
$field-error-color: brown;
$field-required-color: brown;

// Icon Variables.
$icon-roundness: 3.778px;
$icon-border-color: #333;

// Feedback Variables.
$information-color: #439ccf;
$error-color: #e72915;
$warning-color: #d35400;
$success-color: #74a730;

// Editor 
$editor-top-bar-color: #999;

// Alerts
$alert-text-color: #333;
