<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block head %}
    <title>{% block title %}{% endblock %} - Rocketbin</title>
  {% endblock %}
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
		<header>
			<div class="container">
				<div class="row">
					<h1 class="site-title"><i class="fa fa-rocket"></i> Rocketbin</h1>
					<p><em>A Stupid Simple Pastebin Clone.</em></p>
				</div> <!-- .row -->

				<div class="row">
					<nav class="main-nav">
						<ul class="main-nav-list">
							<li class="main-nav-el"><a href="/">new</a></li>
							<li class="main-nav-el"><a href="/paste/all">all</a></li>
							<li class="main-nav-el"><a href="/login">Login</a></li>
							<li class="main-nav-el"><a href="/signup">Signup</a></li>
							<li class="main-nav-el"><a href="/logout">Log out</a></li>
						</ul>
					</nav>
				</div> <!-- .row -->
			</div> <!-- .container -->
		</header>

		<div class="app">
			<div class="container">
				<div class="row">
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
						    <ul class=flashes>
									{% for message in messages %}
										<li>{{ message }}</li>
									{% endfor %}
								</ul>
						{% endif %}
					{% endwith %}
				</div> <!-- .row -->

				<div class="row">
					{% block content %}{% endblock %}
				</div> <!-- .row -->
			</div> <!-- .container -->
		</div> <!-- .app -->

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<p>Project by <a href="http://twitter.com/thinkxl">@thinkxl</a> &bullet; <a href="/style-guide">Style Guide</a></p>
				</div> <!-- .row -->
			</div> <!-- .container -->
		</footer> <!-- .site-footer -->
	</div> <!-- .container -->

  {% block scripts %}{% endblock %}
</body>
</html>
