{% extends "layout/base.html" %}

{% block title %}Paste {{ id }}{% endblock %}

{% block head %}
	<link href="{{ url_for('static', filename=theme_file) }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h3 class="heading">Ah! This page doesn't exist</h3>

  <p>Not to worry. Here is a link to the <a href="{{ url_for('home.index') }}">homepage</a>.</p>

  <img class="centered" src="http://gifs.joelglovier.com/crying/raining.gif" alt="" />
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/paste.js') }}"></script>
{% endblock %}
