{% extends "layout/base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<h2>Latest Public Pastes</h2>
  <div class="all">
    {% for item in all %}
    <li>{% block loop_item scoped %}<a href="/paste/{{ item['_id'] }}">{{ item['_id'] }}</a>{% endblock %}</li>
     {% endfor %}
  </div> <!-- .all -->
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
