{% extends "layout/base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<h2 class="heading">Latest Public Pastes</h2>
  <div class="all">
		<ul class="pastes-list">
			{% for item in all[:15]|sort(attribute='created_at', reverse=True) %}
			<li class="paste-list-el">{% block loop_item scoped %}<a class="paste-link" href="/paste/{{ item['_id'] }}">{{ item['_id'] }}</a> <span><strong>{{ item['lang']|lang_abbr }}</strong> paste created {{ item['created_at']|datetimeformat }}{% endblock %}</li>
			{% endfor %}
		</ul> <!-- .pastes-list -->
  </div> <!-- .all -->
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
