{% extends "layout/base.html" %}

{% block title %}Create a new paste{% endblock %}

{% block content %}
    <div class="editor-form-container">
      <form class="editor-form" action="/paste/save" method="POST">
        <div class="options">
					<div class="option-languages">
						<label for="language">Syntax</label>
						<select id="language" name="language">
							<option value="HTML">HTML</option>
							<option value="CSS">CSS</option>
							<option value="Sass">Sass</option>
							<option value="Scss">Scss</option>
							<option value="Less">Less</option>
							<option value="JavaScript">JavaScript</option>
							<option value="Coffee">CoffeeScript</option>
							<option value="sh">Bash</option>
							<option value="Python">Python</option>
							<option value="Ruby">Ruby</option>
							<option value="PHP">PHP</option>
						</select>
					</div> <!-- .option-languages -->

					<div class="option-keybinding">
						<label for="keybinding">Do you fly?</label>
						<select id="keybinding" name="keybinding">
							<option value="keybinding">None</option>
							<option value="vim">Vim</option>
							<option value="emacs">Emacs</option>
						</select>
					</div> <!-- .option-keybinding -->

					<div class="option-private">
						<label for="private">Private?</label>
						<input id="private" name="private" type="checkbox">
					</div> <!-- .option-private -->

					<div class="option-title">
						<input id="title" name="title" class="paste-title-input" type="text" placeholder="Paste title" maxlength="100">
					</div> <!-- .option-title -->
        </div> <!-- .options -->

        <div id="editor"></div>
				<button class="btn-ghost btn-submit" type="submit"><i class="fa fa-rocket"></i> Submit</button>
      </form>
    </div> <!-- .form -->
    {% endblock %}

    {% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
		{# <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/mode-batchfile.js"></script> #}
		{# <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/mode-markdown.js"></script> #}
		{# <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/snippets/markdown.js"></script> #}
		{# <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/mode-sh.js"></script> #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ext-language_tools.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ext-emmet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://nightwing.github.io/emmet-core/emmet.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock %}
