{% extends "layout/base.html" %}

{% block title %}Paste {{ id }}{% endblock %}

{% block head %}
	<link href="{{ url_for('static', filename=theme_file) }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h3 class="heading">{{ lang|lang_abbr }}</h3>
  <div class="code-result">
    {{ code|safe }}
  </div> <!-- .code-result -->

  <hr>

  <h4 class="heading">Raw Data</h4>
  <div class="code-raw">
    <textarea class="code-raw-textarea">
      {{ code_raw }}
    </textarea>
  </div> <!-- .code-raw -->
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/paste.js') }}"></script>
{% endblock %}
