{% extends "layout/base.html" %}

{% block title %}Paste {{ id }}{% endblock %}

{% block head %}
	<link href="{{ url_for('static', filename=theme_file) }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h3 class="heading">{{ lang|lang_abbr }}</h3>
  <div class="code-result">
    {{ code|safe }}
  </div> <!-- .code-result -->

  <hr>

  <h4 class="heading">Raw Data</h4>
	{# <p><a class="btn-ghost" href="#"><i class="fa fa-link"></i> Raw data</a></p> #}

  <div class="code-raw">
    <textarea class="code-raw-textarea">{{ code_raw|trim }}</textarea>
  </div> <!-- .code-raw -->
{% endblock %}
