{% extends "layout/base.html" %}

{% block title %}Paste {{ id }}{% endblock %}

{% block head %}
	<link href="{{ url_for('static', filename='css/github.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h3 class="heading">{{ title }}</h3>

	<p class="meta">By: <strong>{{ created_by }}</strong> &bullet; {{ created_at|datetimeformat }} &bullet; Language: <strong>{{ lang }}</strong></p>

  <div class="code-result">{{ code|safe }}</div> <!-- .code-result -->

  <hr>

  <h4 class="heading">Raw Data</h4>
	{# <p><a class="btn-ghost" href="#"><i class="fa fa-link"></i> Raw data</a></p> #}

  <div class="code-raw">
    <textarea class="code-raw-textarea">{{ code_raw|trim }}</textarea>
  </div> <!-- .code-raw -->
{% endblock %}
